{% extends 'teacher/base.html' %}
{% load static %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="container mt-4">
    <div class="main-body">
      <a class="btn btn-success mb-2" href="{% url 'teacher:teacher_home' %}" role="button"> <i class="fa-solid fa-arrow-left me-2"></i> Back</a>
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src=" {{user.teacher_profile.profile_picture.url}} " alt="Admin" class="rounded-circle" width="250" height="250">
                    <div class="mt-3">
                      <h4> {{request.user.name}} </h4>
                      <p class="text-secondary mb-1"> {{request.user.email}} </p>
                      <p class="text-secondary mb-1"> {{request.user.phone}} </p>
                      
                      {% comment %} <a class="btn btn-primary" href="{% url 'report:employee_profile' request.user.id %}" target="_blank">Download Profile</a>
                      <a class="btn btn-outline-primary" href="{% url 'report:employee_profile' request.user.id %}" target="_blank">Print Profile</a> {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name: </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{request.user.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{request.user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Teacher ID</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{request.user.username}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Contact No</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{request.user.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nationality</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{request.user.teacher_profile.nationality}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">NID Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{request.user.teacher_profile.nid_no}}
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{request.user.teacher_profile.date_of_birth}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Marital Status</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{request.user.teacher_profile.marital_status|title}}
                    </div>
                  </div>
                  <hr>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-12 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Contact Address</h6>
                      <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">Address: </h6>
                            <span class="text-secondary">{{request.user.teacher_address.address}} </span>
                          </li>
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">City: </h6>
                            <span class="text-secondary">{{request.user.teacher_address.city|title}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">State: </h6>
                            <span class="text-secondary">{{request.user.teacher_address.state|title}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">Country: </h6>
                            <span class="text-secondary">{{request.user.teacher_address.country}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">Post Code: </h6>
                            <span class="text-secondary">{{request.user.teacher_address.zip_code}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Educational Qualification</h6>
                      <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">Degree Name: </h6>
                            <span class="text-secondary">{{request.user.qualifications.degree}} </span>
                          </li>
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">Institute Name: </h6>
                            <span class="text-secondary">{{request.user.qualifications.institution}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">passing Year </h6>
                            <span class="text-secondary">{{request.user.qualifications.passing_year}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">Grade / CGPA </h6>
                            <span class="text-secondary">{{request.user.qualifications.grade_or_cgpa}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">Specialization: </h6>
                            <span class="text-secondary">{{request.user.qualifications.specialization}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                            <h6 class="mb-0 me-2">Achievements: </h6>
                            <span class="text-secondary">{{request.user.qualifications.achievements}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
    
{% endblock body %}