{% extends 'authority/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}


{% block body %}

<div class="row g-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Teacher Information</h6>
            <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="mb-3">
                    <div class="row mb-4">
                        <div class="col">
                            <label for="exampleInputEmail1" class="form-label">Teacher ID </label>
                            {{form.username|add_class:"form-control"}}
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1" class="form-label">Teacher Name</label>
                            {{form.name|add_class:"form-control"}}
                        </div>
                        
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label for="exampleInputEmail1" class="form-label">Email Address</label>
                            {{form.email|add_class:"form-control"}}
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                            {{form.phone | add_class:"form-control" }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>    
</div>
  
{% endblock body %}
    