{% extends 'authority/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="bg-light rounded h-100 p-4">
    <div class="row">
        <div class="col-md-4">
            <h6 class="mb-4">Batch List</h6>
        </div>
        <div class="col-md-4 offset-md-4 d-flex flex-row-reverse mb-2">
            <a class="btn btn-primary" href="{% url 'authority:add_batch' %}" role="button">
               Add Batch
              </a>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <form class="d-flex">
            <div class="row">
                <div class="col ">
                    {{batch_list.form.query | add_class:"form-control" }}
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <button class="btn btn-outline-success ms-2" type="submit">Search</button>
                </div>
            </div>
        </form>
      </div>
    
    <table class="table table-striped table-hover ">
        <thead class="table-dark">
            <tr>
              <th scope="col">Sl</th>
              <th scope="col">Batch Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Instructor</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody> 
            {% if batch_list %} 
                {% for object in batch_list.qs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> 
                        {% if object.batch_name %}
                            {{object.batch_name}}
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                    <td> {{object.start_date}}</td>
                    <td>{{object.end_date}}</td>
                    <td>{{object.course_instructor.profile_of.name}}</td>
                    <td>
                        <a class="btn btn-success" href="{% url 'authority:batch_details' user.pk %}" role="button"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-success" href="{% url 'authority:update_batch' user.pk %}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-danger" href="{% url 'authority:delete_batch' user.pk %}" role="button"><i class="fa-solid fa-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}     
            {% endif %}     
      </table>
</div>


  
{% endblock body %}